<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yummyerp.cloud.modules.product.mapper.ErpProductVariantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yummyerp.cloud.modules.product.entity.ErpProductVariant">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="product_id" property="productId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="sku" property="sku" />
        <result column="barcode" property="barcode" />
        <result column="attributes" property="attributes" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="sale_price" property="salePrice" />
        <result column="cost_price" property="costPrice" />
        <result column="weight" property="weight" />
        <result column="image" property="image" />
        <result column="status" property="status" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        deleted,
        product_id, code, name, sku, barcode, attributes, purchase_price, sale_price, cost_price, weight, image, status, create_user_id
    </sql>

</mapper>
